.header{
    background-color: #272789;
    padding:25px;
    position:fixed;
    width:100%;
    display: inline;
}

main{
    background-color: #e0fdff49;
}

.logo{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color:#ffffff;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
}

main{
    padding-top:80px;
    padding-left: 5%;
    padding-right:5%;
    padding-bottom:8%
}

.title{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.main-title{
    margin-top:10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.1rem;
    margin-bottom:15px;
}

.application{
    text-align: center;
    font-size: 0.8rem;
    color: #888888;
    letter-spacing: 0.1rem;
    margin-bottom:15px;
    line-height: 1.2rem;
}

.line{
    display: inline-block;
    width:80px;
    background-color: rgb(136, 228, 228);
    height:3px;
    margin-bottom:15px;
}

.attention{
    text-align: center;
    letter-spacing: 0.1rem;
}


.terms{
    margin:30px 0;
}

.heading{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom:15px;
}

.footer{
    background-color:#272789;
    padding:12px;
}

.terms p{
    letter-spacing: 0.1rem;
    line-height: 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.terms ol{
    letter-spacing: 0.1rem;
    line-height: 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.copy{
    text-align: center;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}